default_language_version:
  golang: "1.24.6"
repos:
  - repo: https://github.com/ansible/ansible-lint
    rev: v25.11.0
    hooks:
      - id: ansible-lint
        additional_dependencies:
          - ansible

  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: packer-validate
      - id: terraform-fmt
      - id: tflint
      - id: terraform-validate

  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.492
    hooks:
      - id: checkov
