services:
  planka:
    image: {{ planka_image }}
    restart: always
    volumes:
      - favicons:/app/public/favicons
      - user-avatars:/app/public/user-avatars
      - background-images:/app/public/background-images
      - attachments:/app/private/attachments
    ports:
      - {{ planka_port }}:1337
    environment:
      - BASE_URL=https://{{ planka.base_url }}
      - DATABASE_URL=postgresql://postgres@postgres/planka
      - DEFAULT_LANGUAGE=en-GB
      - SECRET_KEY={{ key }}
      - TRUST_PROXY=true
      - OIDC_ISSUER={{ planka.oidcIssuer }}
      - OIDC_CLIENT_ID={{ planka.oidcClientID }}
      - OIDC_CLIENT_SECRET={{ planka.oidcClientSecret }}
      - OIDC_NAME_ATTRIBUTE=given_name
      - OIDC_IGNORE_ROLES=true
      - OIDC_ENFORCED=true
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=planka
      - POSTGRES_HOST_AUTH_METHOD=trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d planka"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  favicons:
  user-avatars:
  background-images:
  attachments:
  db-data: