  opts = {
    discovery = "{{ freshrss.oidcIssuer }}",
    client_id = "{{ freshrss.oidcClientID }}",
    client_secret = "{{ freshrss.oidcClientSecret }}",
    redirect_uri = "/i/oidc",
    scope = "openid email profile",
    iat_slack = 600
  }

  local session_opts = {
    secret = "{{ freshrss.sessionSecret }}",
    cookie_prefix = "__Host-",
    cookie_secure = true,
    cookie_same_site = "Lax",
    remember = true
  }

  local res, err = require("resty.openidc").authenticate(opts, nil, nil, session_opts)
  
  if err then
    ngx.status = 500
    ngx.say(err)
    ngx.exit(ngx.HTTP_INTERNAL_SERVER_ERROR)
  end
  
  ngx.req.set_header("X-User", res.id_token.sub)
  ngx.req.set_header("Remote-User", res.id_token.name)