include <tunables/global>

/usr/sbin/nginx {
  include <abstractions/base>
  include <abstractions/nameservice>
  include <abstractions/openssl>
  include <abstractions/user-tmp>

  capability chown,
  capability dac_override,
  capability dac_read_search,
  capability net_bind_service,
  capability setgid,
  capability setuid,

  /etc/nginx/** r,
  /opt/freshrss/** r,
  /run/php/php8.1-fpm.sock rw,
  /usr/sbin/nginx r,
  /var/log/nginx/** rw,
  /var/run/nginx.pid w,
  owner /run/nginx.pid rw,
  owner /var/cache/nginx/** rw,

  ^worker {
    /etc/nginx/** r,
    /opt/freshrss/p/** r,
    /var/log/nginx/** rw,
    /var/run/php/php-fpm.sock rw,

  }
}